### `Project - MovieLens Data Analysis`

The GroupLens Research Project is a research group in the Department of Computer Science and Engineering at the University of Minnesota. The data is widely used for collaborative filtering and other filtering solutions. However, we will be using this data to act as a means to demonstrate our skill in using Python to “play” with data.


### `Objective:`
- To implement the techniques learnt as a part of the course.

### `Learning Outcomes:`
- Exploratory Data Analysis

- Visualization using Python

- Pandas – groupby, merging 


### `Domain` 
- Internet and Entertainment

**Note that the project will need you to apply the concepts of groupby and merging extensively.**

### `Datasets Information:`


*rating.csv:* It contains information on ratings given by the users to a particular movie.
- user id: id assigned to every user
- movie id: id assigned to every movie
- rating: rating given by the user
- timestamp: Time recorded when the user gave a rating



*movie.csv:* File contains information related to the movies and their genre.
- movie id: id assigned to every movie
- movie title: Title of the movie
- release date: Date of release of the movie
- Action: Genre containing binary values (1 - for action 0 - not action)
- Adventure: Genre containing binary values (1 - for adventure 0 - not adventure)
- Animation: Genre containing binary values (1 - for animation 0 - not animation)
- Children’s: Genre containing binary values (1 - for children's 0 - not children's)
- Comedy: Genre containing binary values (1 - for comedy 0 - not comedy)
- Crime: Genre containing binary values (1 - for crime 0 - not crime)
- Documentary: Genre containing binary values (1 - for documentary 0 - not documentary)
- Drama: Genre containing binary values (1 - for drama 0 - not drama)
- Fantasy: Genre containing binary values (1 - for fantasy 0 - not fantasy)
- Film-Noir: Genre containing binary values (1 - for film-noir 0 - not film-noir)
- Horror: Genre containing binary values (1 - for horror 0 - not horror)
- Musical: Genre containing binary values (1 - for musical 0 - not musical)
- Mystery: Genre containing binary values (1 - for mystery 0 - not mystery)
- Romance: Genre containing binary values (1 - for romance 0 - not romance)
- Sci-Fi: Genre containing binary values (1 - for sci-fi 0 - not sci-fi)
- Thriller: Genre containing binary values (1 - for thriller 0 - not thriller)
- War: Genre containing binary values (1 - for war 0 - not war)
- Western: Genre containing binary values (1 - for western - not western)



*user.csv:* It contains information of the users who have rated the movies.
- user id: id assigned to every user
- age: Age of the user
- gender: Gender of the user
- occupation: Occupation of the user
- zip code: Zip code of the use


**`Please provide you insights wherever necessary.`**

### 1. Import the necessary packages - 2.5 marks

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### 2. Read the 3 datasets into dataframes - 2.5 marks

In [2]:
rating = pd.read_csv('rating.csv')
user = pd.read_csv('user.csv')
movie = pd.read_csv('movie.csv')

### 3. Apply info, shape, describe, and find the number of missing values in the data - 5 marks
 - Note that you will need to do it for all the three datasets seperately

#### Rating Data

In [3]:
#display information about the Rating.csv dataset
print(rating.info())
rating.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
user id      100000 non-null int64
movie id     100000 non-null int64
rating       100000 non-null int64
timestamp    100000 non-null int64
dtypes: int64(4)
memory usage: 3.1 MB
None

    user id  movie id  rating  timestamp
0       196       242       3  881250949
1       186       302       3  891717742
2        22       377       1  878887116
3       244        51       2  880606923
4       166       346       1  886397596
5       298       474       4  884182806
6       115       265       2  881171488
7       253       465       5  891628467
8       305       451       3  886324817
9         6        86       3  883603013
10       62       257       2  879372434
11      286      1014       5  879781125
12      200       222       5  876042340
13      210        40       3  891035994
14      224        29       3  888104457
15      303       785       3  879485318
16      122       387       5  879270459
17      194       274       2  879539794
18      291      1042       4  874834944
19      234      1184       2  892079237

In [4]:
#display the shape of the rating dataset
print(rating.shape)
print('The rating dataset has',rating.shape[0],'rows, and', rating.shape[1], 'columns')

(100000, 4)
The rating dataset has 100000 rows, and 4 columns

In [5]:
#describe the data
rating.describe()

            user id       movie id         rating     timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08

In [6]:
#find the number of missing values in the dataset
rating.isnull().sum()

user id      0
movie id     0
rating       0
timestamp    0
dtype: int64

#### User Data

In [7]:
#display information about the user dataset
print(user.info())
user.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
user id       943 non-null int64
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip code      943 non-null object
dtypes: int64(2), object(3)
memory usage: 36.9+ KB
None

    user id  age gender     occupation zip code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660

In [8]:
#display the shape of the user dataset
print(user.shape)
print('The rating dataset has',user.shape[0],'rows, and', user.shape[1], 'columns')

(943, 5)
The rating dataset has 943 rows, and 5 columns

In [9]:
#describe the data
user.describe()

          user id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

In [10]:
#find the number of missing values in the dataset
user.isnull().sum()

user id       0
age           0
gender        0
occupation    0
zip code      0
dtype: int64

#### Movie Data

In [11]:
#display information about the movie dataset
print(movie.info())
movie.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1681 entries, 0 to 1680
Data columns (total 22 columns):
movie id        1681 non-null int64
movie title     1681 non-null object
release date    1681 non-null object
unknown         1681 non-null int64
Action          1681 non-null int64
Adventure       1681 non-null int64
Animation       1681 non-null int64
Childrens       1681 non-null int64
Comedy          1681 non-null int64
Crime           1681 non-null int64
Documentary     1681 non-null int64
Drama           1681 non-null int64
Fantasy         1681 non-null int64
Film-Noir       1681 non-null int64
Horror          1681 non-null int64
Musical         1681 non-null int64
Mystery         1681 non-null int64
Romance         1681 non-null int64
Sci-Fi          1681 non-null int64
Thriller        1681 non-null int64
War             1681 non-null int64
Western         1681 non-null int64
dtypes: int64(20), object(2)
memory usage: 289.0+ KB
None

,movie id,movie title,release date,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,01-Jan-1995,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye,01-Jan-1995,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty,01-Jan-1995,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat,01-Jan-1995,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao),01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,Twelve Monkeys,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,8,Babe,01-Jan-1995,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
8,9,Dead Man Walking,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,Richard III,22-Jan-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10,11,Seven (Se7en),01-Jan-1995,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
11,12,"Usual Suspects, The",14-Aug-1995,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
12,13,Mighty Aphrodite,30-Oct-1995,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
13,14,"Postino, Il",01-Jan-1994,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
14,15,Mr. Holland's Opus,29-Jan-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,16,French Twist (Gazon maudit),01-Jan-1995,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
16,17,From Dusk Till Dawn,05-Feb-1996,0,1,0,0,0,1,1,...,0,0,1,0,0,0,0,1,0,0
17,18,"White Balloon, The",01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,19,Antonia's Line,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,20,Angels and Insects,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [12]:
#display the shape of the movie dataset
print(movie.shape)
print('The rating dataset has',movie.shape[0],'rows, and', movie.shape[1], 'columns')

(1681, 22)
The rating dataset has 1681 rows, and 22 columns

In [13]:
#describe the data
movie.describe()

,movie id,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000
mean,841.841761,0.000595,0.149316,0.080309,0.024985,0.072576,0.300416,0.064842,0.029744,0.431291,0.013087,0.014277,0.054729,0.033314,0.036288,0.146936,0.060083,0.149316,0.042237,0.016062
std,485.638077,0.024390,0.356506,0.271852,0.156126,0.259516,0.458576,0.246321,0.169931,0.495404,0.113683,0.118667,0.227519,0.179507,0.187061,0.354148,0.237712,0.356506,0.201189,0.125751
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,422.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,842.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1262.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1682.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
#find the number of missing values in the dataset
movie.isnull().sum()

movie id        0
movie title     0
release date    0
unknown         0
Action          0
Adventure       0
Animation       0
Childrens       0
Comedy          0
Crime           0
Documentary     0
Drama           0
Fantasy         0
Film-Noir       0
Horror          0
Musical         0
Mystery         0
Romance         0
Sci-Fi          0
Thriller        0
War             0
Western         0
dtype: int64

### 4. Find the number of movies per genre using the item data - 2.5 marks

In [15]:
#sum each column and filter the output to display the film categories
movie.sum()[3:]

unknown          1
Action         251
Adventure      135
Animation       42
Childrens      122
Comedy         505
Crime          109
Documentary     50
Drama          725
Fantasy         22
Film-Noir       24
Horror          92
Musical         56
Mystery         61
Romance        247
Sci-Fi         101
Thriller       251
War             71
Western         27
dtype: object

### 5. Drop the movie where the genre is unknown - 2.5 marks

In [29]:
movie.sort_values('unknown', ascending = False)

,movie id,movie title,release date,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,01-Jan-1995,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1103,1105,Firestorm,09-Jan-1998,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1127,1129,Chungking Express,16-Feb-1996,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1126,1128,Heidi Fleiss: Hollywood Madam (,09-Feb-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1125,1127,"Truman Show, The",01-Jan-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1124,1126,"Old Man and the Sea, The",01-Jan-1958,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1123,1125,"Innocents, The",01-Jan-1961,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1122,1124,"Farewell to Arms, A",01-Jan-1932,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1121,1123,"Last Time I Saw Paris, The",01-Jan-1954,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1120,1122,They Made Me a Criminal,01-Jan-1939,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1119,1121,"Umbrellas of Cherbourg, The (Parapluies de Che...",05-Apr-1996,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1118,1120,I'm Not Rappaport,13-Nov-1996,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1117,1119,Some Kind of Wonderful,01-Jan-1987,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1116,1118,Up in Smoke,01-Jan-1978,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1115,1117,Surviving Picasso,20-Sep-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1114,1116,"Mark of Zorro, The",01-Jan-1940,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1113,1115,Twelfth Night,25-Oct-1996,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1112,1114,Faithful,03-Apr-1996,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1111,1113,Mrs. Parker and the Vicious Circle,01-Jan-1994,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1110,1112,Cobb,01-Jan-1994,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1109,1111,Double Happiness,01-Mar-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1108,1110,Tank Girl,01-Jan-1995,0,1,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
1107,1109,Death and the Maiden,01-Jan-1994,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1106,1108,Feast of July,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1105,1107,Beyond Rangoon,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1128,1130,Jupiter's Wife,09-Feb-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1129,1131,Safe,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1130,1132,Feeling Minnesota,13-Sep-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1143,1145,Blue Chips,01-Jan-1994,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1153,1155,"Rendezvous in Paris (Rendez-vous de Paris, Les)",28-Jun-1996,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,531,Shine,22-Nov-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
528,530,"Man Who Would Be King, The",01-Jan-1975,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
527,529,My Life as a Dog (Mitt liv som hund),01-Jan-1985,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
549,551,Lord of Illusions,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
551,553,"Walk in the Clouds, A",01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
575,577,Coneheads,01-Jan-1993,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
564,566,Clear and Present Danger,01-Jan-1994,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
574,576,Cliffhanger,01-Jan-1993,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
573,575,City Slickers II: The Legend of Curly's Gold,01-Jan-1994,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
572,574,Boxing Helena,01-Jan-1993,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
571,573,Body Snatchers,01-Jan-1993,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,0,0
570,572,Blown Away,01-Jan-1994,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
569,571,Another Stakeout,01-Jan-1993,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
568,570,Wyatt Earp,01-Jan-1994,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
567,569,Wolf,01-Jan-1994,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
566,568,Speed,01-Jan-1994,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
565,567,Wes Craven's New Nightmare,01-Jan-1994,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
563,565,Village of the Damned,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
552,554,Waterworld,01-Jan-1995,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
562,564,Tales from the Hood,01-Jan-1995,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
561,563,Stephen King's The Langoliers,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
560,562,"Quick and the Dead, The",01-Jan-1995,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
559,561,Mary Shelley's Frankenstein,01-Jan-1994,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
558,560,"Kid in King Arthur's Court, A",01-Jan-1995,0,0,1,0,1,1,0,...,1,0,0,0,0,1,1,0,0,0
557,559,Interview with the Vampire,01-Jan-1994,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
556,558,Heavenly Creatures,01-Jan-1994,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
555,557,Farinelli: il castrato,01-Jan-1994,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
554,556,Wild Bill,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
553,555,White Man's Burden,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1680,1682,Scream of Stone (Schrei aus Stein),08-Mar-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
movie.drop(movie.loc[(movie['unknown']==1)].index,inplace=True)
movie.iloc[1370:1375]

,movie id,movie title,release date,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1370,1372,"Stranger, The",01-Jan-1994,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1372,1374,Falling in Love Again,01-Jan-1980,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1373,1375,"Cement Garden, The",01-Jan-1993,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1374,1376,Meet Wally Sparks,31-Jan-1997,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1375,1377,Hotel de Love,07-Feb-1997,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [42]:
movie.reset_index(drop=True, inplace=True)
movie.iloc[1370:1375]

,movie id,movie title,release date,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1370,1372,"Stranger, The",01-Jan-1994,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1371,1374,Falling in Love Again,01-Jan-1980,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1372,1375,"Cement Garden, The",01-Jan-1993,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1373,1376,Meet Wally Sparks,31-Jan-1997,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1374,1377,Hotel de Love,07-Feb-1997,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [43]:
#search for unknown genres and remove from the dataframe, overwriting original "movie" dataframe
#print(movie.drop([movie['unknown']==1],axis = 0,inplace=False))
print(movie.shape)

(1680, 22)

In [44]:
movie.head()

,movie id,movie title,release date,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,01-Jan-1995,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye,01-Jan-1995,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms,01-Jan-1995,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty,01-Jan-1995,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat,01-Jan-1995,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

### 6. Find the movies that have more than one genre - 5 marks

hint: use sum on the axis = 1

Display movie name, number of genres for the movie in dataframe

and also print(total number of movies which have more than one genres)

# test
test = movie.head(5)

genres = [] #initialize blank list
genres.clear()

for j in test.index:
    genres.append(test.iloc[j,3:].sum())
    print(test.iloc[j])
    print(j, test.iloc[j,3:].sum())
    
    
print(len(genres))
print(genres)
print(test)

In [45]:
movie.tail()

,movie id,movie title,release date,unknown,Action,Adventure,Animation,Childrens,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1675,1678,Mat' i syn,06-Feb-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1676,1679,B. Monkey,06-Feb-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1677,1680,Sliding Doors,01-Jan-1998,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1678,1681,You So Crazy,01-Jan-1994,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1679,1682,Scream of Stone (Schrei aus Stein),08-Mar-1996,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
#create new list of summed genres by adding 
genres = [] #initialize blank list
genres.clear()
print(movie.iloc[1679])

for j in (movie.index):
    genres.append(movie.iloc[j,3:].sum())
    print('j =',j, 'sum =', movie.iloc[j,3:].sum())
          
print(len(genres))
print(genres)

movie id                                       1682
movie title     Scream of Stone (Schrei aus Stein)
release date                            08-Mar-1996
unknown                                           0
Action                                            0
Adventure                                         0
Animation                                         0
Childrens                                         0
Comedy                                            0
Crime                                             0
Documentary                                       0
Drama                                             1
Fantasy                                           0
Film-Noir                                         0
Horror                                            0
Musical                                           0
Mystery                                           0
Romance                                           0
Sci-Fi                                            0
Thriller                                          0
War                                               0
Western                                           0
Name: 1679, dtype: object
j = 0 sum = 3
j = 1 sum = 3
j = 2 sum = 1
j = 3 sum = 3
j = 4 sum = 3
j = 5 sum = 1
j = 6 sum = 2
j = 7 sum = 3
j = 8 sum = 1
j = 9 sum = 2
j = 10 sum = 2
j = 11 sum = 2
j = 12 sum = 1
j = 13 sum = 2
j = 14 sum = 1
j = 15 sum = 2
j = 16 sum = 5
j = 17 sum = 1
j = 18 sum = 1
j = 19 sum = 2
j = 20 sum = 5
j = 21 sum = 3
j = 22 sum = 2
j = 23 sum = 3
j = 24 sum = 1
j = 25 sum = 1
j = 26 sum = 1
j = 27 sum = 3
j = 28 sum = 4
j = 29 sum = 1
j = 30 sum = 3
j = 31 sum = 1
j = 32 sum = 3
j = 33 sum = 2
j = 34 sum = 3
j = 35 sum = 2
j = 36 sum = 1
j = 37 sum = 2
j = 38 sum = 3
j = 39 sum = 1
j = 40 sum = 1
j = 41 sum = 1
j = 42 sum = 2
j = 43 sum = 2
j = 44 sum = 2
j = 45 sum = 1
j = 46 sum = 2
j = 47 sum = 1
j = 48 sum = 2
j = 49 sum = 5
j = 50 sum = 4
j = 51 sum = 1
j = 52 sum = 2
j = 53 sum = 3
j = 54 sum = 4
j = 55 sum = 2
j = 56 sum = 1
j = 57 sum = 1
j = 58 sum = 1
j = 59 sum = 1
j = 60 sum = 1
j = 61 sum = 3
j = 62 sum = 2
j = 63 sum = 1
j = 64 sum = 2
j = 65 sum = 2
j = 66 sum = 1
j = 67 sum = 3
j = 68 sum = 3
j = 69 sum = 2
j = 70 sum = 3
j = 71 sum = 3
j = 72 sum = 3
j = 73 sum = 3
j = 74 sum = 1
j = 75 sum = 2
j = 76 sum = 2
j = 77 sum = 3
j = 78 sum = 2
j = 79 sum = 3
j = 80 sum = 2
j = 81 sum = 3
j = 82 sum = 2
j = 83 sum = 2
j = 84 sum = 1
j = 85 sum = 1
j = 86 sum = 1
j = 87 sum = 2
j = 88 sum = 2
j = 89 sum = 3
j = 90 sum = 3
j = 91 sum = 3
j = 92 sum = 2
j = 93 sum = 2
j = 94 sum = 4
j = 95 sum = 3
j = 96 sum = 3
j = 97 sum = 2
j = 98 sum = 3
j = 99 sum = 3
j = 100 sum = 5
j = 101 sum = 2
j = 102 sum = 3
j = 103 sum = 1
j = 104 sum = 1
j = 105 sum = 2
j = 106 sum = 1
j = 107 sum = 1
j = 108 sum = 2
j = 109 sum = 4
j = 110 sum = 2
j = 111 sum = 2
j = 112 sum = 1
j = 113 sum = 1
j = 114 sum = 1
j = 115 sum = 1
j = 116 sum = 3
j = 117 sum = 3
j = 118 sum = 1
j = 119 sum = 2
j = 120 sum = 3
j = 121 sum = 1
j = 122 sum = 2
j = 123 sum = 2
j = 124 sum = 2
j = 125 sum = 1
j = 126 sum = 3
j = 127 sum = 2
j = 128 sum = 4
j = 129 sum = 1
j = 130 sum = 2
j = 131 sum = 4
j = 132 sum = 3
j = 133 sum = 1
j = 134 sum = 4
j = 135 sum = 1
j = 136 sum = 1
j = 137 sum = 2
j = 138 sum = 2
j = 139 sum = 2
j = 140 sum = 4
j = 141 sum = 3
j = 142 sum = 1
j = 143 sum = 2
j = 144 sum = 3
j = 145 sum = 1
j = 146 sum = 2
j = 147 sum = 2
j = 148 sum = 1
j = 149 sum = 2
j = 150 sum = 3
j = 151 sum = 2
j = 152 sum = 1
j = 153 sum = 1
j = 154 sum = 2
j = 155 sum = 2
j = 156 sum = 2
j = 157 sum = 1
j = 158 sum = 2
j = 159 sum = 1
j = 160 sum = 2
j = 161 sum = 1
j = 162 sum = 1
j = 163 sum = 4
j = 164 sum = 1
j = 165 sum = 1
j = 166 sum = 1
j = 167 sum = 1
j = 168 sum = 2
j = 169 sum = 3
j = 170 sum = 2
j = 171 sum = 6
j = 172 sum = 4
j = 173 sum = 2
j = 174 sum = 1
j = 175 sum = 4
j = 176 sum = 2
j = 177 sum = 1
j = 178 sum = 1
j = 179 sum = 2
j = 180 sum = 5
j = 181 sum = 2
j = 182 sum = 4
j = 183 sum = 5
j = 184 sum = 3
j = 185 sum = 3
j = 186 sum = 3
j = 187 sum = 3
j = 188 sum = 2
j = 189 sum = 2
j = 190 sum = 2
j = 191 sum = 1
j = 192 sum = 1
j = 193 sum = 2
j = 194 sum = 3
j = 195 sum = 1
j = 196 sum = 2
j = 197 sum = 1
j = 198 sum = 2
j = 199 sum = 1
j = 200 sum = 4
j = 201 sum = 2
j = 202 sum = 1
j = 203 sum = 2
j = 204 sum = 2
j = 205 sum = 4
j = 206 sum = 3
j = 207 sum = 2
j = 208 sum = 3
j = 209 sum = 2
j = 210 sum = 2
j = 211 sum = 1
j = 212 sum = 2
j = 213 sum = 3
j = 214 sum = 1
j = 215 sum = 2
j = 216 sum = 2
j = 217 sum = 1
j = 218 sum = 1
j = 219 sum = 2
j = 220 sum = 1
j = 221 sum = 3
j = 222 sum = 2
j = 223 sum = 1
j = 224 sum = 2
j = 225 sum = 2
j = 226 sum = 3
j = 227 sum = 3
j = 228 sum = 3
j = 229 sum = 3
j = 230 sum = 4
j = 231 sum = 3
j = 232 sum = 1
j = 233 sum = 2
j = 234 sum = 4
j = 235 sum = 2
j = 236 sum = 2
j = 237 sum = 1
j = 238 sum = 3
j = 239 sum = 2
j = 240 sum = 3
j = 241 sum = 1
j = 242 sum = 2
j = 243 sum = 3
j = 244 sum = 4
j = 245 sum = 2
j = 246 sum = 3
j = 247 sum = 2
j = 248 sum = 1
j = 249 sum = 2
j = 250 sum = 1
j = 251 sum = 4
j = 252 sum = 2
j = 253 sum = 3
j = 254 sum = 2
j = 255 sum = 2
j = 256 sum = 4
j = 257 sum = 2
j = 258 sum = 2
j = 259 sum = 4
j = 260 sum = 2
j = 261 sum = 1
j = 262 sum = 1
j = 263 sum = 2
j = 264 sum = 2
j = 265 sum = 2
j = 266 sum = 2
j = 267 sum = 1
j = 268 sum = 3
j = 269 sum = 4
j = 270 sum = 1
j = 271 sum = 3
j = 272 sum = 2
j = 273 sum = 2
j = 274 sum = 2
j = 275 sum = 1
j = 276 sum = 2
j = 277 sum = 1
j = 278 sum = 2
j = 279 sum = 2
j = 280 sum = 1
j = 281 sum = 2
j = 282 sum = 2
j = 283 sum = 1
j = 284 sum = 3
j = 285 sum = 1
j = 286 sum = 2
j = 287 sum = 2
j = 288 sum = 1
j = 289 sum = 2
j = 290 sum = 1
j = 291 sum = 2
j = 292 sum = 1
j = 293 sum = 2
j = 294 sum = 1
j = 295 sum = 1
j = 296 sum = 3
j = 297 sum = 3
j = 298 sum = 2
j = 299 sum = 1
j = 300 sum = 4
j = 301 sum = 1
j = 302 sum = 2
j = 303 sum = 1
j = 304 sum = 2
j = 305 sum = 4
j = 306 sum = 3
j = 307 sum = 1
j = 308 sum = 1
j = 309 sum = 3
j = 310 sum = 4
j = 311 sum = 3
j = 312 sum = 2
j = 313 sum = 2
j = 314 sum = 2
j = 315 sum = 1
j = 316 sum = 2
j = 317 sum = 3
j = 318 sum = 1
j = 319 sum = 1
j = 320 sum = 2
j = 321 sum = 2
j = 322 sum = 1
j = 323 sum = 2
j = 324 sum = 3
j = 325 sum = 3
j = 326 sum = 4
j = 327 sum = 3
j = 328 sum = 1
j = 329 sum = 2
j = 330 sum = 3
j = 331 sum = 2
j = 332 sum = 3
j = 333 sum = 1
j = 334 sum = 2
j = 335 sum = 3
j = 336 sum = 1
j = 337 sum = 2
j = 338 sum = 1
j = 339 sum = 1
j = 340 sum = 2
j = 341 sum = 3
j = 342 sum = 1
j = 343 sum = 2
j = 344 sum = 2
j = 345 sum = 2
j = 346 sum = 3
j = 347 sum = 2
j = 348 sum = 3
j = 349 sum = 1
j = 350 sum = 2
j = 351 sum = 3
j = 352 sum = 2
j = 353 sum = 3
j = 354 sum = 3
j = 355 sum = 1
j = 356 sum = 4
j = 357 sum = 1
j = 358 sum = 1
j = 359 sum = 2
j = 360 sum = 3
j = 361 sum = 1
j = 362 sum = 1
j = 363 sum = 1
j = 364 sum = 1
j = 365 sum = 1
j = 366 sum = 1
j = 367 sum = 1
j = 368 sum = 2
j = 369 sum = 2
j = 370 sum = 1
j = 371 sum = 3
j = 372 sum = 2
j = 373 sum = 1
j = 374 sum = 1
j = 375 sum = 2
j = 376 sum = 1
j = 377 sum = 1
j = 378 sum = 3
j = 379 sum = 2
j = 380 sum = 2
j = 381 sum = 2
j = 382 sum = 1
j = 383 sum = 4
j = 384 sum = 1
j = 385 sum = 1
j = 386 sum = 2
j = 387 sum = 2
j = 388 sum = 1
j = 389 sum = 2
j = 390 sum = 1
j = 391 sum = 1
j = 392 sum = 3
j = 393 sum = 1
j = 394 sum = 3
j = 395 sum = 1
j = 396 sum = 4
j = 397 sum = 3
j = 398 sum = 2
j = 399 sum = 1
j = 400 sum = 3
j = 401 sum = 4
j = 402 sum = 2
j = 403 sum = 3
j = 404 sum = 2
j = 405 sum = 1
j = 406 sum = 3
j = 407 sum = 2
j = 408 sum = 1
j = 409 sum = 4
j = 410 sum = 1
j = 411 sum = 1
j = 412 sum = 1
j = 413 sum = 3
j = 414 sum = 2
j = 415 sum = 2
j = 416 sum = 3
j = 417 sum = 3
j = 418 sum = 3
j = 419 sum = 2
j = 420 sum = 3
j = 421 sum = 4
j = 422 sum = 1
j = 423 sum = 1
j = 424 sum = 6
j = 425 sum = 1
j = 426 sum = 1
j = 427 sum = 2
j = 428 sum = 2
j = 429 sum = 2
j = 430 sum = 3
j = 431 sum = 1
j = 432 sum = 1
j = 433 sum = 3
j = 434 sum = 1
j = 435 sum = 1
j = 436 sum = 1
j = 437 sum = 1
j = 438 sum = 1
j = 439 sum = 1
j = 440 sum = 1
j = 441 sum = 1
j = 442 sum = 2
j = 443 sum = 1
j = 444 sum = 1
j = 445 sum = 1
j = 446 sum = 1
j = 447 sum = 3
j = 448 sum = 3
j = 449 sum = 3
j = 450 sum = 2
j = 451 sum = 2
j = 452 sum = 1
j = 453 sum = 1
j = 454 sum = 2
j = 455 sum = 3
j = 456 sum = 1
j = 457 sum = 1
j = 458 sum = 1
j = 459 sum = 1
j = 460 sum = 2
j = 461 sum = 1
j = 462 sum = 1
j = 463 sum = 3
j = 464 sum = 1
j = 465 sum = 1
j = 466 sum = 1
j = 467 sum = 1
j = 468 sum = 1
j = 469 sum = 2
j = 470 sum = 3
j = 471 sum = 3
j = 472 sum = 2
j = 473 sum = 1
j = 474 sum = 1
j = 475 sum = 2
j = 476 sum = 2
j = 477 sum = 2
j = 478 sum = 2
j = 479 sum = 2
j = 480 sum = 2
j = 481 sum = 3
j = 482 sum = 2
j = 483 sum = 2
j = 484 sum = 2
j = 485 sum = 2
j = 486 sum = 1
j = 487 sum = 3
j = 488 sum = 3
j = 489 sum = 2
j = 490 sum = 1
j = 491 sum = 1
j = 492 sum = 1
j = 493 sum = 2
j = 494 sum = 1
j = 495 sum = 1
j = 496 sum = 4
j = 497 sum = 1
j = 498 sum = 2
j = 499 sum = 3
j = 500 sum = 2
j = 501 sum = 1
j = 502 sum = 2
j = 503 sum = 2
j = 504 sum = 1
j = 505 sum = 1
j = 506 sum = 1
j = 507 sum = 1
j = 508 sum = 3
j = 509 sum = 2
j = 510 sum = 3
j = 511 sum = 2
j = 512 sum = 2
j = 513 sum = 3
j = 514 sum = 1
j = 515 sum = 3
j = 516 sum = 1
j = 517 sum = 1
j = 518 sum = 2
j = 519 sum = 2
j = 520 sum = 2
j = 521 sum = 2
j = 522 sum = 1
j = 523 sum = 2
j = 524 sum = 3
j = 525 sum = 1
j = 526 sum = 2
j = 527 sum = 1
j = 528 sum = 1
j = 529 sum = 2
j = 530 sum = 1
j = 531 sum = 1
j = 532 sum = 1
j = 533 sum = 2
j = 534 sum = 1
j = 535 sum = 1
j = 536 sum = 3
j = 537 sum = 2
j = 538 sum = 1
j = 539 sum = 2
j = 540 sum = 4
j = 541 sum = 2
j = 542 sum = 3
j = 543 sum = 2
j = 544 sum = 2
j = 545 sum = 1
j = 546 sum = 2
j = 547 sum = 3
j = 548 sum = 2
j = 549 sum = 1
j = 550 sum = 1
j = 551 sum = 2
j = 552 sum = 2
j = 553 sum = 1
j = 554 sum = 1
j = 555 sum = 2
j = 556 sum = 3
j = 557 sum = 2
j = 558 sum = 6
j = 559 sum = 2
j = 560 sum = 3
j = 561 sum = 1
j = 562 sum = 2
j = 563 sum = 2
j = 564 sum = 3
j = 565 sum = 1
j = 566 sum = 3
j = 567 sum = 2
j = 568 sum = 1
j = 569 sum = 2
j = 570 sum = 2
j = 571 sum = 3
j = 572 sum = 3
j = 573 sum = 2
j = 574 sum = 3
j = 575 sum = 2
j = 576 sum = 2
j = 577 sum = 1
j = 578 sum = 2
j = 579 sum = 2
j = 580 sum = 2
j = 581 sum = 2
j = 582 sum = 2
j = 583 sum = 1
j = 584 sum = 1
j = 585 sum = 2
j = 586 sum = 3
j = 587 sum = 1
j = 588 sum = 3
j = 589 sum = 2
j = 590 sum = 2
j = 591 sum = 1

j = 592 sum = 2
j = 593 sum = 1
j = 594 sum = 3
j = 595 sum = 2
j = 596 sum = 2
j = 597 sum = 1
j = 598 sum = 1
j = 599 sum = 2
j = 600 sum = 2
j = 601 sum = 2
j = 602 sum = 1
j = 603 sum = 1
j = 604 sum = 1
j = 605 sum = 2
j = 606 sum = 3
j = 607 sum = 1
j = 608 sum = 1
j = 609 sum = 3
j = 610 sum = 1
j = 611 sum = 1
j = 612 sum = 1
j = 613 sum = 1
j = 614 sum = 2
j = 615 sum = 1
j = 616 sum = 1
j = 617 sum = 2
j = 618 sum = 1
j = 619 sum = 1
j = 620 sum = 2
j = 621 sum = 2
j = 622 sum = 3
j = 623 sum = 2
j = 624 sum = 2
j = 625 sum = 1
j = 626 sum = 2
j = 627 sum = 2
j = 628 sum = 2
j = 629 sum = 4
j = 630 sum = 1
j = 631 sum = 1
j = 632 sum = 1
j = 633 sum = 1
j = 634 sum = 4
j = 635 sum = 2
j = 636 sum = 1
j = 637 sum = 1
j = 638 sum = 1
j = 639 sum = 2
j = 640 sum = 3
j = 641 sum = 2
j = 642 sum = 1
j = 643 sum = 1
j = 644 sum = 1
j = 645 sum = 2
j = 646 sum = 2
j = 647 sum = 3
j = 648 sum = 1
j = 649 sum = 3
j = 650 sum = 2
j = 651 sum = 3
j = 652 sum = 3
j = 653 sum = 3
j = 654 sum = 3
j = 655 sum = 2
j = 656 sum = 1
j = 657 sum = 3
j = 658 sum = 1
j = 659 sum = 1
j = 660 sum = 2
j = 661 sum = 1
j = 662 sum = 1
j = 663 sum = 4
j = 664 sum = 1
j = 665 sum = 1
j = 666 sum = 2
j = 667 sum = 1
j = 668 sum = 3
j = 669 sum = 1
j = 670 sum = 1
j = 671 sum = 2
j = 672 sum = 1
j = 673 sum = 1
j = 674 sum = 1
j = 675 sum = 1
j = 676 sum = 2
j = 677 sum = 2
j = 678 sum = 2
j = 679 sum = 1
j = 680 sum = 3
j = 681 sum = 1
j = 682 sum = 2
j = 683 sum = 2
j = 684 sum = 2
j = 685 sum = 2
j = 686 sum = 1
j = 687 sum = 2
j = 688 sum = 2
j = 689 sum = 3
j = 690 sum = 3
j = 691 sum = 1
j = 692 sum = 1
j = 693 sum = 2
j = 694 sum = 2
j = 695 sum = 1
j = 696 sum = 1
j = 697 sum = 1
j = 698 sum = 1
j = 699 sum = 1
j = 700 sum = 2
j = 701 sum = 1
j = 702 sum = 2
j = 703 sum = 2
j = 704 sum = 1
j = 705 sum = 1
j = 706 sum = 1
j = 707 sum = 2
j = 708 sum = 1
j = 709 sum = 1
j = 710 sum = 2
j = 711 sum = 1
j = 712 sum = 2
j = 713 sum = 2
j = 714 sum = 2
j = 715 sum = 2
j = 716 sum = 1
j = 717 sum = 2
j = 718 sum = 4
j = 719 sum = 1
j = 720 sum = 1
j = 721 sum = 2
j = 722 sum = 2
j = 723 sum = 1
j = 724 sum = 2
j = 725 sum = 2
j = 726 sum = 2
j = 727 sum = 1
j = 728 sum = 2
j = 729 sum = 3
j = 730 sum = 2
j = 731 sum = 2
j = 732 sum = 1
j = 733 sum = 1
j = 734 sum = 2
j = 735 sum = 2
j = 736 sum = 2
j = 737 sum = 2
j = 738 sum = 2
j = 739 sum = 2
j = 740 sum = 2
j = 741 sum = 2
j = 742 sum = 2
j = 743 sum = 1
j = 744 sum = 1
j = 745 sum = 2
j = 746 sum = 3
j = 747 sum = 2
j = 748 sum = 1
j = 749 sum = 3
j = 750 sum = 2
j = 751 sum = 1
j = 752 sum = 2
j = 753 sum = 5
j = 754 sum = 1
j = 755 sum = 1
j = 756 sum = 2
j = 757 sum = 1
j = 758 sum = 1
j = 759 sum = 2
j = 760 sum = 1
j = 761 sum = 1
j = 762 sum = 2
j = 763 sum = 2
j = 764 sum = 1
j = 765 sum = 1
j = 766 sum = 2
j = 767 sum = 4
j = 768 sum = 4
j = 769 sum = 3
j = 770 sum = 1
j = 771 sum = 1
j = 772 sum = 1
j = 773 sum = 3
j = 774 sum = 1
j = 775 sum = 1
j = 776 sum = 3
j = 777 sum = 1
j = 778 sum = 1
j = 779 sum = 2
j = 780 sum = 1
j = 781 sum = 2
j = 782 sum = 2
j = 783 sum = 2
j = 784 sum = 2
j = 785 sum = 2
j = 786 sum = 2
j = 787 sum = 2
j = 788 sum = 1
j = 789 sum = 1
j = 790 sum = 1
j = 791 sum = 1
j = 792 sum = 2
j = 793 sum = 2
j = 794 sum = 2
j = 795 sum = 2
j = 796 sum = 1
j = 797 sum = 1
j = 798 sum = 2
j = 799 sum = 1
j = 800 sum = 4
j = 801 sum = 3
j = 802 sum = 1
j = 803 sum = 2
j = 804 sum = 3
j = 805 sum = 1
j = 806 sum = 2
j = 807 sum = 3
j = 808 sum = 1
j = 809 sum = 1
j = 810 sum = 2
j = 811 sum = 1
j = 812 sum = 1
j = 813 sum = 2
j = 814 sum = 1
j = 815 sum = 1
j = 816 sum = 1
j = 817 sum = 1
j = 818 sum = 5
j = 819 sum = 2
j = 820 sum = 1
j = 821 sum = 3
j = 822 sum = 1
j = 823 sum = 3
j = 824 sum = 1
j = 825 sum = 3
j = 826 sum = 2
j = 827 sum = 2
j = 828 sum = 3
j = 829 sum = 4
j = 830 sum = 3
j = 831 sum = 1
j = 832 sum = 2
j = 833 sum = 3
j = 834 sum = 2
j = 835 sum = 1
j = 836 sum = 1
j = 837 sum = 2
j = 838 sum = 3
j = 839 sum = 2
j = 840 sum = 3
j = 841 sum = 2
j = 842 sum = 1
j = 843 sum = 1
j = 844 sum = 2
j = 845 sum = 2
j = 846 sum = 2
j = 847 sum = 2
j = 848 sum = 1
j = 849 sum = 1
j = 850 sum = 2
j = 851 sum = 2
j = 852 sum = 2
j = 853 sum = 5
j = 854 sum = 2
j = 855 sum = 1
j = 856 sum = 1
j = 857 sum = 2
j = 858 sum = 2
j = 859 sum = 1
j = 860 sum = 3
j = 861 sum = 1
j = 862 sum = 1
j = 863 sum = 1
j = 864 sum = 2
j = 865 sum = 1
j = 866 sum = 1
j = 867 sum = 2
j = 868 sum = 1
j = 869 sum = 1
j = 870 sum = 1
j = 871 sum = 2
j = 872 sum = 1
j = 873 sum = 2
j = 874 sum = 2
j = 875 sum = 2
j = 876 sum = 3
j = 877 sum = 3
j = 878 sum = 1
j = 879 sum = 2
j = 880 sum = 1
j = 881 sum = 1
j = 882 sum = 1
j = 883 sum = 1
j = 884 sum = 2
j = 885 sum = 1
j = 886 sum = 1
j = 887 sum = 1
j = 888 sum = 2
j = 889 sum = 2
j = 890 sum = 3
j = 891 sum = 1
j = 892 sum = 2
j = 893 sum = 2
j = 894 sum = 1
j = 895 sum = 3
j = 896 sum = 1
j = 897 sum = 1
j = 898 sum = 1
j = 899 sum = 1
j = 900 sum = 4
j = 901 sum = 2
j = 902 sum = 2
j = 903 sum = 2
j = 904 sum = 2
j = 905 sum = 1
j = 906 sum = 1
j = 907 sum = 1
j = 908 sum = 1
j = 909 sum = 2
j = 910 sum = 2
j = 911 sum = 1
j = 912 sum = 4
j = 913 sum = 1
j = 914 sum = 3
j = 915 sum = 3
j = 916 sum = 1
j = 917 sum = 2
j = 918 sum = 1
j = 919 sum = 2
j = 920 sum = 1
j = 921 sum = 1
j = 922 sum = 2
j = 923 sum = 2
j = 924 sum = 1
j = 925 sum = 1
j = 926 sum = 2
j = 927 sum = 2
j = 928 sum = 3
j = 929 sum = 2
j = 930 sum = 2
j = 931 sum = 1
j = 932 sum = 1
j = 933 sum = 2
j = 934 sum = 3
j = 935 sum = 1
j = 936 sum = 2
j = 937 sum = 2
j = 938 sum = 1
j = 939 sum = 2
j = 940 sum = 1
j = 941 sum = 1
j = 942 sum = 3
j = 943 sum = 4
j = 944 sum = 2
j = 945 sum = 2
j = 946 sum = 2
j = 947 sum = 2
j = 948 sum = 1
j = 949 sum = 3
j = 950 sum = 1
j = 951 sum = 2
j = 952 sum = 1
j = 953 sum = 2
j = 954 sum = 1
j = 955 sum = 1
j = 956 sum = 1
j = 957 sum = 1
j = 958 sum = 1
j = 959 sum = 1
j = 960 sum = 1
j = 961 sum = 2
j = 962 sum = 2
j = 963 sum = 2
j = 964 sum = 1
j = 965 sum = 1
j = 966 sum = 1
j = 967 sum = 2
j = 968 sum = 1
j = 969 sum = 2
j = 970 sum = 1
j = 971 sum = 1
j = 972 sum = 2
j = 973 sum = 1
j = 974 sum = 3
j = 975 sum = 1
j = 976 sum = 2
j = 977 sum = 2
j = 978 sum = 1
j = 979 sum = 1
j = 980 sum = 3
j = 981 sum = 1
j = 982 sum = 1
j = 983 sum = 1
j = 984 sum = 1
j = 985 sum = 1
j = 986 sum = 2
j = 987 sum = 3
j = 988 sum = 2
j = 989 sum = 1
j = 990 sum = 2
j = 991 sum = 5
j = 992 sum = 1
j = 993 sum = 1
j = 994 sum = 2
j = 995 sum = 1
j = 996 sum = 1
j = 997 sum = 1
j = 998 sum = 2
j = 999 sum = 1
j = 1000 sum = 1
j = 1001 sum = 3
j = 1002 sum = 2
j = 1003 sum = 1
j = 1004 sum = 2
j = 1005 sum = 1
j = 1006 sum = 1
j = 1007 sum = 1
j = 1008 sum = 1
j = 1009 sum = 1
j = 1010 sum = 2
j = 1011 sum = 3
j = 1012 sum = 1
j = 1013 sum = 2
j = 1014 sum = 3
j = 1015 sum = 1
j = 1016 sum = 1
j = 1017 sum = 2
j = 1018 sum = 2
j = 1019 sum = 1
j = 1020 sum = 1
j = 1021 sum = 1
j = 1022 sum = 1
j = 1023 sum = 3
j = 1024 sum = 2
j = 1025 sum = 1
j = 1026 sum = 2
j = 1027 sum = 1
j = 1028 sum = 1
j = 1029 sum = 2
j = 1030 sum = 2
j = 1031 sum = 2
j = 1032 sum = 2
j = 1033 sum = 1
j = 1034 sum = 2
j = 1035 sum = 3
j = 1036 sum = 1
j = 1037 sum = 1
j = 1038 sum = 2
j = 1039 sum = 2
j = 1040 sum = 2
j = 1041 sum = 1
j = 1042 sum = 2
j = 1043 sum = 1
j = 1044 sum = 1
j = 1045 sum = 1
j = 1046 sum = 2
j = 1047 sum = 1
j = 1048 sum = 2
j = 1049 sum = 1
j = 1050 sum = 2
j = 1051 sum = 1
j = 1052 sum = 1
j = 1053 sum = 1
j = 1054 sum = 1
j = 1055 sum = 1
j = 1056 sum = 2
j = 1057 sum = 1
j = 1058 sum = 2
j = 1059 sum = 2
j = 1060 sum = 1
j = 1061 sum = 2
j = 1062 sum = 2
j = 1063 sum = 2
j = 1064 sum = 2
j = 1065 sum = 1
j = 1066 sum = 1
j = 1067 sum = 3
j = 1068 sum = 1
j = 1069 sum = 1
j = 1070 sum = 2
j = 1071 sum = 1
j = 1072 sum = 2
j = 1073 sum = 1
j = 1074 sum = 5
j = 1075 sum = 1
j = 1076 sum = 2
j = 1077 sum = 2
j = 1078 sum = 1
j = 1079 sum = 1
j = 1080 sum = 1
j = 1081 sum = 2
j = 1082 sum = 1
j = 1083 sum = 2
j = 1084 sum = 1
j = 1085 sum = 1
j = 1086 sum = 1
j = 1087 sum = 3
j = 1088 sum = 1
j = 1089 sum = 4
j = 1090 sum = 1
j = 1091 sum = 1
j = 1092 sum = 1
j = 1093 sum = 1
j = 1094 sum = 1
j = 1095 sum = 1
j = 1096 sum = 1
j = 1097 sum = 1
j = 1098 sum = 3
j = 1099 sum = 2
j = 1100 sum = 2
j = 1101 sum = 2
j = 1102 sum = 3
j = 1103 sum = 3
j = 1104 sum = 2
j = 1105 sum = 1
j = 1106 sum = 1
j = 1107 sum = 2
j = 1108 sum = 4
j = 1109 sum = 1
j = 1110 sum = 1
j = 1111 sum = 1
j = 1112 sum = 1
j = 1113 sum = 3
j = 1114 sum = 1
j = 1115 sum = 1
j = 1116 sum = 1
j = 1117 sum = 2
j = 1118 sum = 1
j = 1119 sum = 2
j = 1120 sum = 2
j = 1121 sum = 1
j = 1122 sum = 2
j = 1123 sum = 1
j = 1124 sum = 2
j = 1125 sum = 1
j = 1126 sum = 1
j = 1127 sum = 3
j = 1128 sum = 1
j = 1129 sum = 1
j = 1130 sum = 2
j = 1131 sum = 3
j = 1132 sum = 1
j = 1133 sum = 2
j = 1134 sum = 1
j = 1135 sum = 2
j = 1136 sum = 4
j = 1137 sum = 3
j = 1138 sum = 1
j = 1139 sum = 1
j = 1140 sum = 1
j = 1141 sum = 2
j = 1142 sum = 1
j = 1143 sum = 1
j = 1144 sum = 1
j = 1145 sum = 1
j = 1146 sum = 1
j = 1147 sum = 1
j = 1148 sum = 1
j = 1149 sum = 1
j = 1150 sum = 2
j = 1151 sum = 2
j = 1152 sum = 1
j = 1153 sum = 2
j = 1154 sum = 2
j = 1155 sum = 1
j = 1156 sum = 1
j = 1157 sum = 2
j = 1158 sum = 2
j = 1159 sum = 2
j = 1160 sum = 1
j = 1161 sum = 1
j = 1162 sum = 1
j = 1163 sum = 2
j = 1164 sum = 1
j = 1165 sum = 1
j = 1166 sum = 1
j = 1167 sum = 1
j = 1168 sum = 2
j = 1169 sum = 1
j = 1170 sum = 1
j = 1171 sum = 2
j = 1172 sum = 2
j = 1173 sum = 1
j = 1174 sum = 2
j = 1175 sum = 1
j = 1176 sum = 1
j = 1177 sum = 1
j = 1178 sum = 2
j = 1179 sum = 2
j = 1180 sum = 1
j = 1181 sum = 2
j = 1182 sum = 1
j = 1183 sum = 2
j = 1184 sum = 2
j = 1185 sum = 1
j = 1186 sum = 3
j = 1187 sum = 1
j = 1188 sum = 2
j = 1189 sum = 2
j = 1190 sum = 1
j = 1191 sum = 1
j = 1192 sum = 2
j = 1193 sum = 1
j = 1194 sum = 1
j = 1195 sum = 2
j = 1196 sum = 2
j = 1197 sum = 2
j = 1198 sum = 2
j = 1199 sum = 1
j = 1200 sum = 1
j = 1201 sum = 3

j = 1202 sum = 3
j = 1203 sum = 1
j = 1204 sum = 1
j = 1205 sum = 1
j = 1206 sum = 3
j = 1207 sum = 1
j = 1208 sum = 2
j = 1209 sum = 2
j = 1210 sum = 3
j = 1211 sum = 3
j = 1212 sum = 1
j = 1213 sum = 2
j = 1214 sum = 1
j = 1215 sum = 1
j = 1216 sum = 1
j = 1217 sum = 4
j = 1218 sum = 1
j = 1219 sum = 1
j = 1220 sum = 1
j = 1221 sum = 1
j = 1222 sum = 1
j = 1223 sum = 1
j = 1224 sum = 2
j = 1225 sum = 1
j = 1226 sum = 1
j = 1227 sum = 2
j = 1228 sum = 1
j = 1229 sum = 2
j = 1230 sum = 1
j = 1231 sum = 1
j = 1232 sum = 1
j = 1233 sum = 1
j = 1234 sum = 1
j = 1235 sum = 2
j = 1236 sum = 1
j = 1237 sum = 3
j = 1238 sum = 2
j = 1239 sum = 2
j = 1240 sum = 1
j = 1241 sum = 1
j = 1242 sum = 1
j = 1243 sum = 1
j = 1244 sum = 1
j = 1245 sum = 1
j = 1246 sum = 1
j = 1247 sum = 1
j = 1248 sum = 1
j = 1249 sum = 1
j = 1250 sum = 1
j = 1251 sum = 1
j = 1252 sum = 1
j = 1253 sum = 1
j = 1254 sum = 1
j = 1255 sum = 1
j = 1256 sum = 2
j = 1257 sum = 2
j = 1258 sum = 1
j = 1259 sum = 1
j = 1260 sum = 1
j = 1261 sum = 1
j = 1262 sum = 1
j = 1263 sum = 1
j = 1264 sum = 1
j = 1265 sum = 1
j = 1266 sum = 1
j = 1267 sum = 2
j = 1268 sum = 1
j = 1269 sum = 1
j = 1270 sum = 2
j = 1271 sum = 2
j = 1272 sum = 2
j = 1273 sum = 1
j = 1274 sum = 1
j = 1275 sum = 2
j = 1276 sum = 2
j = 1277 sum = 2
j = 1278 sum = 1
j = 1279 sum = 1
j = 1280 sum = 1
j = 1281 sum = 1
j = 1282 sum = 2
j = 1283 sum = 1
j = 1284 sum = 3
j = 1285 sum = 1
j = 1286 sum = 1
j = 1287 sum = 1
j = 1288 sum = 2
j = 1289 sum = 1
j = 1290 sum = 2
j = 1291 sum = 4
j = 1292 sum = 1
j = 1293 sum = 2
j = 1294 sum = 2
j = 1295 sum = 2
j = 1296 sum = 2
j = 1297 sum = 2
j = 1298 sum = 2
j = 1299 sum = 1
j = 1300 sum = 1
j = 1301 sum = 1
j = 1302 sum = 2
j = 1303 sum = 1
j = 1304 sum = 1
j = 1305 sum = 1
j = 1306 sum = 2
j = 1307 sum = 1
j = 1308 sum = 1
j = 1309 sum = 2
j = 1310 sum = 2
j = 1311 sum = 3
j = 1312 sum = 3
j = 1313 sum = 2
j = 1314 sum = 1
j = 1315 sum = 1
j = 1316 sum = 1
j = 1317 sum = 1
j = 1318 sum = 1
j = 1319 sum = 1
j = 1320 sum = 1
j = 1321 sum = 1
j = 1322 sum = 2
j = 1323 sum = 1
j = 1324 sum = 1
j = 1325 sum = 1
j = 1326 sum = 1
j = 1327 sum = 1
j = 1328 sum = 1
j = 1329 sum = 1
j = 1330 sum = 1
j = 1331 sum = 2
j = 1332 sum = 1
j = 1333 sum = 1
j = 1334 sum = 3
j = 1335 sum = 1
j = 1336 sum = 1
j = 1337 sum = 2
j = 1338 sum = 1
j = 1339 sum = 1
j = 1340 sum = 1
j = 1341 sum = 1
j = 1342 sum = 1
j = 1343 sum = 1
j = 1344 sum = 1
j = 1345 sum = 1
j = 1346 sum = 1
j = 1347 sum = 1
j = 1348 sum = 1
j = 1349 sum = 1
j = 1350 sum = 1
j = 1351 sum = 1
j = 1352 sum = 1
j = 1353 sum = 1
j = 1354 sum = 1
j = 1355 sum = 2
j = 1356 sum = 1
j = 1357 sum = 1
j = 1358 sum = 1
j = 1359 sum = 1
j = 1360 sum = 1
j = 1361 sum = 1
j = 1362 sum = 1
j = 1363 sum = 2
j = 1364 sum = 2
j = 1365 sum = 1
j = 1366 sum = 1
j = 1367 sum = 1
j = 1368 sum = 2
j = 1369 sum = 2
j = 1370 sum = 1
j = 1371 sum = 1
j = 1372 sum = 1
j = 1373 sum = 1
j = 1374 sum = 2
j = 1375 sum = 1
j = 1376 sum = 1
j = 1377 sum = 1
j = 1378 sum = 1
j = 1379 sum = 1
j = 1380 sum = 2
j = 1381 sum = 1
j = 1382 sum = 2
j = 1383 sum = 1
j = 1384 sum = 1
j = 1385 sum = 1
j = 1386 sum = 1
j = 1387 sum = 1
j = 1388 sum = 1
j = 1389 sum = 1
j = 1390 sum = 2
j = 1391 sum = 1
j = 1392 sum = 1
j = 1393 sum = 1
j = 1394 sum = 1
j = 1395 sum = 1
j = 1396 sum = 1
j = 1397 sum = 2
j = 1398 sum = 1
j = 1399 sum = 1
j = 1400 sum = 2
j = 1401 sum = 1
j = 1402 sum = 1
j = 1403 sum = 2
j = 1404 sum = 1
j = 1405 sum = 1
j = 1406 sum = 2
j = 1407 sum = 1
j = 1408 sum = 2
j = 1409 sum = 2
j = 1410 sum = 1
j = 1411 sum = 1
j = 1412 sum = 2
j = 1413 sum = 2
j = 1414 sum = 1
j = 1415 sum = 1
j = 1416 sum = 2
j = 1417 sum = 1
j = 1418 sum = 1
j = 1419 sum = 2
j = 1420 sum = 2
j = 1421 sum = 3
j = 1422 sum = 2
j = 1423 sum = 2
j = 1424 sum = 1
j = 1425 sum = 1
j = 1426 sum = 2
j = 1427 sum = 1
j = 1428 sum = 1
j = 1429 sum = 1
j = 1430 sum = 2
j = 1431 sum = 1
j = 1432 sum = 1
j = 1433 sum = 2
j = 1434 sum = 1
j = 1435 sum = 1
j = 1436 sum = 2
j = 1437 sum = 1
j = 1438 sum = 2
j = 1439 sum = 1
j = 1440 sum = 1
j = 1441 sum = 3
j = 1442 sum = 1
j = 1443 sum = 1
j = 1444 sum = 1
j = 1445 sum = 1
j = 1446 sum = 1
j = 1447 sum = 2
j = 1448 sum = 1
j = 1449 sum = 2
j = 1450 sum = 2
j = 1451 sum = 1
j = 1452 sum = 1
j = 1453 sum = 2
j = 1454 sum = 2
j = 1455 sum = 3
j = 1456 sum = 1
j = 1457 sum = 2
j = 1458 sum = 1
j = 1459 sum = 3
j = 1460 sum = 1
j = 1461 sum = 1
j = 1462 sum = 2
j = 1463 sum = 1
j = 1464 sum = 1
j = 1465 sum = 1
j = 1466 sum = 2
j = 1467 sum = 2
j = 1468 sum = 1
j = 1469 sum = 2
j = 1470 sum = 2
j = 1471 sum = 2
j = 1472 sum = 2
j = 1473 sum = 1
j = 1474 sum = 2
j = 1475 sum = 3
j = 1476 sum = 1
j = 1477 sum = 3
j = 1478 sum = 1
j = 1479 sum = 1
j = 1480 sum = 3
j = 1481 sum = 2
j = 1482 sum = 3
j = 1483 sum = 1
j = 1484 sum = 2
j = 1485 sum = 1
j = 1486 sum = 1
j = 1487 sum = 1
j = 1488 sum = 3
j = 1489 sum = 1
j = 1490 sum = 1
j = 1491 sum = 1
j = 1492 sum = 1
j = 1493 sum = 2
j = 1494 sum = 1
j = 1495 sum = 1
j = 1496 sum = 1
j = 1497 sum = 1
j = 1498 sum = 1
j = 1499 sum = 2
j = 1500 sum = 2
j = 1501 sum = 1
j = 1502 sum = 2
j = 1503 sum = 1
j = 1504 sum = 1
j = 1505 sum = 2
j = 1506 sum = 1
j = 1507 sum = 1
j = 1508 sum = 1
j = 1509 sum = 1
j = 1510 sum = 1
j = 1511 sum = 1
j = 1512 sum = 2
j = 1513 sum = 1
j = 1514 sum = 1
j = 1515 sum = 1
j = 1516 sum = 2
j = 1517 sum = 1
j = 1518 sum = 2
j = 1519 sum = 1
j = 1520 sum = 2
j = 1521 sum = 1
j = 1522 sum = 2
j = 1523 sum = 3
j = 1524 sum = 1
j = 1525 sum = 1
j = 1526 sum = 1
j = 1527 sum = 1
j = 1528 sum = 2
j = 1529 sum = 1
j = 1530 sum = 1
j = 1531 sum = 2
j = 1532 sum = 1
j = 1533 sum = 1
j = 1534 sum = 1
j = 1535 sum = 1
j = 1536 sum = 1
j = 1537 sum = 2
j = 1538 sum = 1
j = 1539 sum = 1
j = 1540 sum = 1
j = 1541 sum = 1
j = 1542 sum = 2
j = 1543 sum = 1
j = 1544 sum = 1
j = 1545 sum = 2
j = 1546 sum = 1
j = 1547 sum = 1
j = 1548 sum = 1
j = 1549 sum = 1
j = 1550 sum = 2
j = 1551 sum = 1
j = 1552 sum = 2
j = 1553 sum = 3
j = 1554 sum = 2
j = 1555 sum = 1
j = 1556 sum = 3
j = 1557 sum = 1
j = 1558 sum = 2
j = 1559 sum = 1
j = 1560 sum = 1
j = 1561 sum = 1
j = 1562 sum = 1
j = 1563 sum = 1
j = 1564 sum = 1
j = 1565 sum = 2
j = 1566 sum = 2
j = 1567 sum = 1
j = 1568 sum = 1
j = 1569 sum = 1
j = 1570 sum = 1
j = 1571 sum = 1
j = 1572 sum = 1
j = 1573 sum = 1
j = 1574 sum = 1
j = 1575 sum = 1
j = 1576 sum = 1
j = 1577 sum = 1
j = 1578 sum = 1
j = 1579 sum = 1
j = 1580 sum = 1
j = 1581 sum = 1
j = 1582 sum = 1
j = 1583 sum = 3
j = 1584 sum = 1
j = 1585 sum = 2
j = 1586 sum = 1
j = 1587 sum = 1
j = 1588 sum = 1
j = 1589 sum = 1
j = 1590 sum = 1
j = 1591 sum = 1
j = 1592 sum = 2
j = 1593 sum = 3
j = 1594 sum = 2
j = 1595 sum = 2
j = 1596 sum = 1
j = 1597 sum = 1
j = 1598 sum = 1
j = 1599 sum = 1
j = 1600 sum = 1
j = 1601 sum = 3
j = 1602 sum = 1
j = 1603 sum = 1
j = 1604 sum = 1
j = 1605 sum = 3
j = 1606 sum = 1
j = 1607 sum = 3
j = 1608 sum = 1
j = 1609 sum = 1
j = 1610 sum = 2
j = 1611 sum = 2
j = 1612 sum = 4
j = 1613 sum = 1
j = 1614 sum = 1
j = 1615 sum = 2
j = 1616 sum = 1
j = 1617 sum = 1
j = 1618 sum = 1
j = 1619 sum = 1
j = 1620 sum = 1
j = 1621 sum = 1
j = 1622 sum = 2
j = 1623 sum = 2
j = 1624 sum = 2
j = 1625 sum = 1
j = 1626 sum = 1
j = 1627 sum = 1
j = 1628 sum = 2
j = 1629 sum = 1
j = 1630 sum = 2
j = 1631 sum = 1
j = 1632 sum = 1
j = 1633 sum = 1
j = 1634 sum = 1
j = 1635 sum = 2
j = 1636 sum = 1
j = 1637 sum = 1
j = 1638 sum = 1
j = 1639 sum = 1
j = 1640 sum = 1
j = 1641 sum = 1
j = 1642 sum = 1
j = 1643 sum = 2
j = 1644 sum = 3
j = 1645 sum = 1
j = 1646 sum = 2
j = 1647 sum = 1
j = 1648 sum = 2
j = 1649 sum = 1
j = 1650 sum = 1
j = 1651 sum = 1
j = 1652 sum = 2
j = 1653 sum = 2
j = 1654 sum = 2
j = 1655 sum = 1
j = 1656 sum = 1
j = 1657 sum = 1
j = 1658 sum = 1
j = 1659 sum = 2
j = 1660 sum = 2
j = 1661 sum = 1
j = 1662 sum = 1
j = 1663 sum = 1
j = 1664 sum = 1
j = 1665 sum = 1
j = 1666 sum = 3
j = 1667 sum = 2
j = 1668 sum = 1
j = 1669 sum = 1
j = 1670 sum = 2
j = 1671 sum = 1
j = 1672 sum = 1
j = 1673 sum = 1
j = 1674 sum = 1
j = 1675 sum = 1
j = 1676 sum = 2
j = 1677 sum = 2
j = 1678 sum = 1
j = 1679 sum = 1
1680
[3, 3, 1, 3, 3, 1, 2, 3, 1, 2, 2, 2, 1, 2, 1, 2, 5, 1, 1, 2, 5, 3, 2, 3, 1, 1, 1, 3, 4, 1, 3, 1, 3, 2, 3, 2, 1, 2, 3, 1, 1, 1, 2, 2, 2, 1, 2, 1, 2, 5, 4, 1, 2, 3, 4, 2, 1, 1, 1, 1, 1, 3, 2, 1, 2, 2, 1, 3, 3, 2, 3, 3, 3, 3, 1, 2, 2, 3, 2, 3, 2, 3, 2, 2, 1, 1, 1, 2, 2, 3, 3, 3, 2, 2, 4, 3, 3, 2, 3, 3, 5, 2, 3, 1, 1, 2, 1, 1, 2, 4, 2, 2, 1, 1, 1, 1, 3, 3, 1, 2, 3, 1, 2, 2, 2, 1, 3, 2, 4, 1, 2, 4, 3, 1, 4, 1, 1, 2, 2, 2, 4, 3, 1, 2, 3, 1, 2, 2, 1, 2, 3, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 1, 1, 4, 1, 1, 1, 1, 2, 3, 2, 6, 4, 2, 1, 4, 2, 1, 1, 2, 5, 2, 4, 5, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2, 3, 1, 2, 1, 2, 1, 4, 2, 1, 2, 2, 4, 3, 2, 3, 2, 2, 1, 2, 3, 1, 2, 2, 1, 1, 2, 1, 3, 2, 1, 2, 2, 3, 3, 3, 3, 4, 3, 1, 2, 4, 2, 2, 1, 3, 2, 3, 1, 2, 3, 4, 2, 3, 2, 1, 2, 1, 4, 2, 3, 2, 2, 4, 2, 2, 4, 2, 1, 1, 2, 2, 2, 2, 1, 3, 4, 1, 3, 2, 2, 2, 1, 2, 1, 2, 2, 1, 2, 2, 1, 3, 1, 2, 2, 1, 2, 1, 2, 1, 2, 1, 1, 3, 3, 2, 1, 4, 1, 2, 1, 2, 4, 3, 1, 1, 3, 4, 3, 2, 2, 2, 1, 2, 3, 1, 1, 2, 2, 1, 2, 3, 3, 4, 3, 1, 2, 3, 2, 3, 1, 2, 3, 1, 2, 1, 1, 2, 3, 1, 2, 2, 2, 3, 2, 3, 1, 2, 3, 2, 3, 3, 1, 4, 1, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 3, 2, 1, 1, 2, 1, 1, 3, 2, 2, 2, 1, 4, 1, 1, 2, 2, 1, 2, 1, 1, 3, 1, 3, 1, 4, 3, 2, 1, 3, 4, 2, 3, 2, 1, 3, 2, 1, 4, 1, 1, 1, 3, 2, 2, 3, 3, 3, 2, 3, 4, 1, 1, 6, 1, 1, 2, 2, 2, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 3, 3, 3, 2, 2, 1, 1, 2, 3, 1, 1, 1, 1, 2, 1, 1, 3, 1, 1, 1, 1, 1, 2, 3, 3, 2, 1, 1, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 1, 3, 3, 2, 1, 1, 1, 2, 1, 1, 4, 1, 2, 3, 2, 1, 2, 2, 1, 1, 1, 1, 3, 2, 3, 2, 2, 3, 1, 3, 1, 1, 2, 2, 2, 2, 1, 2, 3, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 3, 2, 1, 2, 4, 2, 3, 2, 2, 1, 2, 3, 2, 1, 1, 2, 2, 1, 1, 2, 3, 2, 6, 2, 3, 1, 2, 2, 3, 1, 3, 2, 1, 2, 2, 3, 3, 2, 3, 2, 2, 1, 2, 2, 2, 2, 2, 1, 1, 2, 3, 1, 3, 2, 2, 1, 2, 1, 3, 2, 2, 1, 1, 2, 2, 2, 1, 1, 1, 2, 3, 1, 1, 3, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 3, 2, 2, 1, 2, 2, 2, 4, 1, 1, 1, 1, 4, 2, 1, 1, 1, 2, 3, 2, 1, 1, 1, 2, 2, 3, 1, 3, 2, 3, 3, 3, 3, 2, 1, 3, 1, 1, 2, 1, 1, 4, 1, 1, 2, 1, 3, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 3, 1, 2, 2, 2, 2, 1, 2, 2, 3, 3, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 2, 2, 1, 2, 4, 1, 1, 2, 2, 1, 2, 2, 2, 1, 2, 3, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 3, 2, 1, 3, 2, 1, 2, 5, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 4, 4, 3, 1, 1, 1, 3, 1, 1, 3, 1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 2, 1, 4, 3, 1, 2, 3, 1, 2, 3, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 5, 2, 1, 3, 1, 3, 1, 3, 2, 2, 3, 4, 3, 1, 2, 3, 2, 1, 1, 2, 3, 2, 3, 2, 1, 1, 2, 2, 2, 2, 1, 1, 2, 2, 2, 5, 2, 1, 1, 2, 2, 1, 3, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 2, 3, 3, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 3, 1, 2, 2, 1, 3, 1, 1, 1, 1, 4, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 1, 4, 1, 3, 3, 1, 2, 1, 2, 1, 1, 2, 2, 1, 1, 2, 2, 3, 2, 2, 1, 1, 2, 3, 1, 2, 2, 1, 2, 1, 1, 3, 4, 2, 2, 2, 2, 1, 3, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 3, 1, 2, 2, 1, 1, 3, 1, 1, 1, 1, 1, 2, 3, 2, 1, 2, 5, 1, 1, 2, 1, 1, 1, 2, 1, 1, 3, 2, 1, 2, 1, 1, 1, 1, 1, 2, 3, 1, 2, 3, 1, 1, 2, 2, 1, 1, 1, 1, 3, 2, 1, 2, 1, 1, 2, 2, 2, 2, 1, 2, 3, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2, 2, 1, 1, 3, 1, 1, 2, 1, 2, 1, 5, 1, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 3, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 2, 2, 3, 3, 2, 1, 1, 2, 4, 1, 1, 1, 1, 3, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 2, 1, 1, 3, 1, 1, 2, 3, 1, 2, 1, 2, 4, 3, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 2, 2, 1, 3, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2, 1, 1, 3, 3, 1, 1, 1, 3, 1, 2, 2, 3, 3, 1, 2, 1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 3, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 3, 1, 1, 1, 2, 1, 2, 4, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 3, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 3, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 3, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 2, 2, 3, 1, 2, 1, 3, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2, 2, 2, 1, 2, 3, 1, 3, 1, 1, 3, 2, 3, 1, 2, 1, 1, 1, 3, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2, 3, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 3, 2, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 2, 3, 2, 2, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 1, 3, 1, 1, 2, 2, 4, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 3, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1]

In [53]:
movie['Genres'] = genres

In [51]:
multi_genre = movie[movie['Genres']>1]
multi_genre[['movie title','Genres']]

                               movie title  Genres
0                               Toy Story        3
1                               GoldenEye        3
3                              Get Shorty        3
4                                 Copycat        3
6                          Twelve Monkeys        2
7                                    Babe        3
9                             Richard III        2
10                          Seven (Se7en)        2
11                    Usual Suspects, The        2
13                            Postino, Il        2
15            French Twist (Gazon maudit)        2
16                    From Dusk Till Dawn        5
19                     Angels and Insects        2
20                 Muppet Treasure Island        5
21                             Braveheart        3
22                            Taxi Driver        2
23                    Rumble in the Bronx        3
27                              Apollo 13        3
28                         Batman Forever        4
30                           Crimson Tide        3
32                              Desperado        3
33                   Doom Generation, The        2
34       Free Willy 2: The Adventure Home        3
35                               Mad Love        2
37                               Net, The        2
38                           Strange Days        3
42                             Disclosure        2
43                      Dolores Claiborne        2
44                    Eat Drink Man Woman        2
46                                Ed Wood        2
...                                    ...     ...
1593                    Nemesis 2: Nebula        3
1594                       Romper Stomper        2
1595                     City of Industry        2
1601                   He Walked by Night        3
1605                                Buddy        3
1607          Truth or Consequences, N.M.        3
1610                           Tokyo Fist        2
1611             Reluctant Debutante, The        2
1612                   Warriors of Virtue        4
1615                     King of New York        2
1622                           Nightwatch        2
1623  Nobody Loves Me (Keiner liebt mich)        2
1624                            Wife, The        2
1628                       Slingshot, The        2
1630          Á köldum klaka (Cold Fever)        2
1635                          Normal Life        2
1643                        Men With Guns        2
1644                              Hana-bi        3
1646                         Big One, The        2
1648                Spanish Prisoner, The        2
1652                           Favor, The        2
1653                          Little City        2
1654                               Target        2
1659                          Rough Magic        2
1660                     Nothing Personal        2
1666                    MURDER and murder        3
1667                              Tainted        2
1670                               Mirage        2
1676                            B. Monkey        2
1677                        Sliding Doors        2

[849 rows x 2 columns]

## old, notes only
count = 0
for j in movie.index:
    if movie.iloc[j-1,3:].sum()>1:
        print(movie.loc[j,'movie title'],'has',movie.iloc[j-1,3:].sum(),'genres')
        count = count + 1

print("")
print(count,"movies have more than one genre")

### 7. Univariate plots of columns: 'rating', 'Age', 'release year', 'Gender' and 'Occupation' - 10 marks

*HINT: Use distplot for age. Use lineplot or countplot for release year.*

*HINT: Plot percentages in y-axis and categories in x-axis for ratings, gender and occupation*

*HINT: Please refer to the below snippet to understand how to get to release year from release date. You can use str.split() as depicted below or you could convert it to pandas datetime format and extract year (.dt.year)*

In [ ]:
a = 'My*cat*is*brown'
print(a.split('*')[3])

#similarly, the release year needs to be taken out from release date

#also you can simply slice existing string to get the desired data, if we want to take out the colour of the cat

print(a[10:])
print(a[-5:])

### 8. Visualize how popularity of genres has changed over the years - 10 marks

Note that you need to use the **percent of number of releases in a year** as a parameter of popularity of a genre

Hint 1: You need to reach to a data frame where the release year is the index and the genre is the column names (one cell shows the number of release in a year in one genre) or vice versa. (Drop unnecessary column if there are any)

Hint 2: Find the total number of movies release in a year(use `sum(axis=1)` store that value in a new column as 'total'). Now divide the value of each genre in that year by total to get percentage number of release in a particular year.
`(df.div(df['total'], axis= 0) * 100)`

Once that is achieved, you can either use univariate plots or can use the heatmap to visualise all the changes over the years 
in one go. 

Hint 3: Use groupby on the relevant column and use sum() on the same to find out the number of releases in a year/genre.

### 9. Find the top 25 movies according to average ratings such that each movie has number of ratings more than 100 - 10 marks

Hints : 

1. Find the count of ratings and average ratings for every movie.
2. Slice the movies which have ratings more than 100.
3. Sort values according to average rating such that movie which highest rating is on top.
4. Select top 25 movies.
5. You will have to use the .merge() function to get the movie titles.

Note: This question will need you to research about groupby and apply your findings. You can find more on groupby on https://realpython.com/pandas-groupby/.

### 10. See gender distribution across different genres check for the validity of the below statements - 10 marks

* Men watch more drama than women
* Women watch more Sci-Fi than men
* Men watch more Romance than women

**compare the percentages**

1. Merge all the datasets

2. There is no need to conduct statistical tests around this. Just **compare the percentages** and comment on the validity of the above statements.

3. you might want ot use the .sum(), .div() function here.

4. Use number of ratings to validate the numbers. For example, if out of 4000 ratings received by women, 3000 are for drama, we will assume that 75% of the women watch drama.